<a href="https://colab.research.google.com/github/salonichaturvedi/Exploratory-Data-Analysis/blob/main/salonichaturvedi%20/%20Exploratory-Data-Analysis%20/%20Uber%20Driver%20Data%20Analysis%20/%20UBER_DRIVER_DATA_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<center> Uber Driver Data Analysis

##<center> Exploratory Data Analysis



The data of a driver's uber trips are available for year 2016. Your manager wants to give him some useful insights about the trip behaviour of a Uber driver.

### Dataset - 
The dataset contains Start Date, End Date, Start Location, End Location, Miles Driven and Purpose of drive (Business, Personal, Meals, Errands, Meetings, Customer Support etc.)

### ----------------------
#### Concepts To cover 
#### ----------------------
#### 1. Data profiling
#### 2. group by function
#### 3. Apply function 
#### 4. DateTime operations

In [ ]:
#Import the libraries

import pandas as pd
import numpy as np
import datetime as dt

In [ ]:
# Read the data

df = pd.read_csv('/content/My Uber Drives - 2016.csv')

In [ ]:
# View first n rows of the data; n=7

df.head(7)

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain
6,1/6/2016 17:30,1/6/2016 17:35,Business,West Palm Beach,Palm Beach,7.1,Meeting

In [ ]:
# View the last 5 rows of data
df.tail(5)

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [ ]:
# Understand shape of the data

df.shape

(1156, 7)

##### There are 1156 rows and 7 columns in the dataset.

In [ ]:
# Size of Data Frame
df.size

8092

In [ ]:
# Number of Null Records
df.isnull().sum()

START_DATE*      0
END_DATE*        1
CATEGORY*        1
START*           1
STOP*            1
MILES*           0
PURPOSE*       503
dtype: int64

In [ ]:
#Null Values
df_null=df[df.isnull()]
df_null

     START_DATE* END_DATE* CATEGORY* START* STOP*  MILES* PURPOSE*
0            NaN       NaN       NaN    NaN   NaN     NaN      NaN
1            NaN       NaN       NaN    NaN   NaN     NaN      NaN
2            NaN       NaN       NaN    NaN   NaN     NaN      NaN
3            NaN       NaN       NaN    NaN   NaN     NaN      NaN
4            NaN       NaN       NaN    NaN   NaN     NaN      NaN
...          ...       ...       ...    ...   ...     ...      ...
1151         NaN       NaN       NaN    NaN   NaN     NaN      NaN
1152         NaN       NaN       NaN    NaN   NaN     NaN      NaN
1153         NaN       NaN       NaN    NaN   NaN     NaN      NaN
1154         NaN       NaN       NaN    NaN   NaN     NaN      NaN
1155         NaN       NaN       NaN    NaN   NaN     NaN      NaN

[1156 rows x 7 columns]

In [ ]:
# Not Null Values
df_notnull = df[~df.isnull()]
df_notnull

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [ ]:
# Show Records with missing values for column = Purpose

df[df['PURPOSE*'].isnull()]

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
32,1/19/2016 9:09,1/19/2016 9:23,Business,Whitebridge,Lake Wellingborough,7.2,NaN
85,2/9/2016 10:54,2/9/2016 11:07,Personal,Whitebridge,Northwoods,5.3,NaN
86,2/9/2016 11:43,2/9/2016 11:50,Personal,Northwoods,Tanglewood,3.0,NaN
87,2/9/2016 13:36,2/9/2016 13:52,Personal,Tanglewood,Preston,5.1,NaN
...,...,...,...,...,...,...,...
1066,12/19/2016 14:37,12/19/2016 14:50,Business,Unknown Location,Unknown Location,5.4,NaN
1069,12/19/2016 19:05,12/19/2016 19:17,Business,Islamabad,Unknown Location,2.2,NaN
1071,12/20/2016 8:49,12/20/2016 9:24,Business,Unknown Location,Rawalpindi,12.0,NaN
1143,12/29/2016 20:53,12/29/2016 21:42,Business,Kar?chi,Unknown Location,6.4,NaN
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [ ]:
# Records with non null values in column = 'Purpose'

df[~df['PURPOSE*'].isnull()]

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain
...,...,...,...,...,...,...,...
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [ ]:
# Number of NonNull records in Purpose column
(~df['PURPOSE*'].isnull()).sum()

653

### Renaming Columns

In [ ]:
df.rename( columns = {'START_DATE*':'START_DATE', 'END_DATE*':'END_DATE', 'CATEGORY*': 'CATEGORY', 'START*':'START', 'STOP*':'STOP', 'MILES*':'MILES', 'PURPOSE*':'PURPOSE'}, inplace=True)
df.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

#### Filtering Dataframes

In [ ]:
# Entries where purpose is null

df[df.PURPOSE.isnull()]

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
32,1/19/2016 9:09,1/19/2016 9:23,Business,Whitebridge,Lake Wellingborough,7.2,NaN
85,2/9/2016 10:54,2/9/2016 11:07,Personal,Whitebridge,Northwoods,5.3,NaN
86,2/9/2016 11:43,2/9/2016 11:50,Personal,Northwoods,Tanglewood,3.0,NaN
87,2/9/2016 13:36,2/9/2016 13:52,Personal,Tanglewood,Preston,5.1,NaN
...,...,...,...,...,...,...,...
1066,12/19/2016 14:37,12/19/2016 14:50,Business,Unknown Location,Unknown Location,5.4,NaN
1069,12/19/2016 19:05,12/19/2016 19:17,Business,Islamabad,Unknown Location,2.2,NaN
1071,12/20/2016 8:49,12/20/2016 9:24,Business,Unknown Location,Rawalpindi,12.0,NaN
1143,12/29/2016 20:53,12/29/2016 21:42,Business,Kar?chi,Unknown Location,6.4,NaN
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [ ]:
#Inverting the selection
df[df.PURPOSE.notnull()]

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain
...,...,...,...,...,...,...,...
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site

####Filtering Dataframes - 2

In [ ]:
# print df where StOP is Fort Pierce

df[df.STOP=='Fort Pierce']

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting

In [ ]:
df[df.STOP!='Fort Pierce']

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain
6,1/6/2016 17:30,1/6/2016 17:35,Business,West Palm Beach,Palm Beach,7.1,Meeting
7,1/7/2016 13:27,1/7/2016 13:33,Business,Cary,Cary,0.8,Meeting
8,1/10/2016 8:05,1/10/2016 8:25,Business,Cary,Morrisville,8.3,Meeting
...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

####Explore the details from the MILES column

In [ ]:
# Show top 10 rides 

df_Sortedbymiles = df.sort_values(by = 'MILES', ascending = False).head(10)
df_Sortedbymiles

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN
269,3/25/2016 16:52,3/25/2016 22:22,Business,Latta,Jacksonville,310.3,Customer Visit
270,3/25/2016 22:54,3/26/2016 1:39,Business,Jacksonville,Kissimmee,201.0,Meeting
881,10/30/2016 15:22,10/30/2016 18:23,Business,Asheville,Mebane,195.9,NaN
776,9/27/2016 21:01,9/28/2016 2:37,Business,Unknown Location,Unknown Location,195.6,NaN
546,7/14/2016 16:39,7/14/2016 20:05,Business,Morrisville,Banner Elk,195.3,NaN
559,7/17/2016 12:20,7/17/2016 15:25,Personal,Boone,Cary,180.2,Commute
297,4/2/2016 19:38,4/2/2016 22:36,Business,Jacksonville,Ridgeland,174.2,Customer Visit
299,4/3/2016 2:00,4/3/2016 4:16,Business,Florence,Cary,159.3,Meeting
727,8/27/2016 16:15,8/27/2016 19:13,Business,Unknown Location,Unknown Location,156.9,NaN

In [ ]:
# Show the row that has max miles

df_Sortedbymiles.head(1)

     START_DATE END_DATE CATEGORY START STOP    MILES PURPOSE
1155     Totals      NaN      NaN   NaN  NaN  12204.7     NaN

In [ ]:
#summary
df.describe()

              MILES
count   1156.000000
mean      21.115398
std      359.299007
min        0.500000
25%        2.900000
50%        6.000000
75%       10.400000
max    12204.700000

In [ ]:
#summary

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   START_DATE  1156 non-null   object
 1   END_DATE    1155 non-null   object
 2   CATEGORY    1155 non-null   object
 3   START       1155 non-null   object
 4   STOP        1155 non-null   object
 5   MILES       1156 non-null   float64
 6   PURPOSE     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

####Removal of Null Values

In [ ]:
#creating duplicate set

df_1 = df.copy()

In [ ]:
#dropping null values
df_1.dropna(axis=0, how = 'any', inplace=True)

In [ ]:
#get the shape of revised dataframe

df_1.shape

(653, 7)

### PANDAS PROFILING

In [ ]:
! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
  Downloading https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
     / 22.1 MB 24.3 MB/s 0:00:02
  Preparing metadata (setup.py) ... done
Requirement already satisfied: scipy<1.10,>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling==0.0.dev0) (1.7.3)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling==0.0.dev0) (1.3.5)
Requirement already satisfied: matplotlib<3.7,>=3.2 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling==0.0.dev0) (3.2.2)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling==0.0.dev0) (1.10.4)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling==0.0.dev0) (6.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling==0.0.dev0) (2.11.3)
Collecting visions[type_image_path]==0.7.5
  Downloading visions-0.7.5-py3-none-any.whl (102 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 102.7/102.7 KB 4.7 MB/s eta 0:00:00
Requirement already satisfied: numpy<1.24,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling==0.0.dev0) (1.21.6)
Collecting htmlmin==0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
  Preparing metadata (setup.py) ... done
Collecting phik<0.13,>=0.11.1
  Downloading phik-0.12.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (679 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 679.5/679.5 KB 4.3 MB/s eta 0:00:00
Requirement already satisfied: requests<2.29,>=2.24.0 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling==0.0.dev0) (2.25.1)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling==0.0.dev0) (4.64.1)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in /usr/local/lib/python3.8/dist-packages (from ydata-profiling==0.0.dev0) (0.11.2)
Collecting multimethod<1.10,>=1.4
  Downloading multimethod-1.9.1-py3-none-any.whl (10 kB)
Collecting statsmodels<0.14,>=0.13.2
  Downloading statsmodels-0.13.5-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 54.3 MB/s eta 0:00:00
Collecting typeguard<2.14,>=2.13.2
  Downloading typeguard-2.13.3-py3-none-any.whl (17 kB)
Collecting tangled-up-in-unicode>=0.0.4
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 85.4 MB/s eta 0:00:00
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0) (22.2.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0) (3.0)
Requirement already satisfied: Pillow in /usr/local/lib/python3.8/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0) (7.1.2)
Collecting imagehash
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.5/296.5 KB 32.6 MB/s eta 0:00:00
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2<3.2,>=2.11.1->ydata-profiling==0.0.dev0) (2.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling==0.0.dev0) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling==0.0.dev0) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling==0.0.dev0) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling==0.0.dev0) (0.11.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas!=1.4.0,<1.6,>1.1->ydata-profiling==0.0.dev0) (2022.7.1)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.8/dist-packages (from phik<0.13,>=0.11.1->ydata-profiling==0.0.dev0) (1.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.8/dist-packages (from pydantic<1.11,>=1.8.1->ydata-profiling==0.0.dev0) (4.5.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->ydata-profiling==0.0.dev0) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->ydata-profiling==0.0.dev0) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->ydata-profiling==0.0.dev0) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<2.29,>=2.24.0->ydata-profiling==0.0.dev0) (1.24.3)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.8/dist-packages (from statsmodels<0.14,>=0.13.2->ydata-profiling==0.0.dev0) (0.5.3)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.8/dist-packages (from statsmodels<0.14,>=0.13.2->ydata-profiling==0.0.dev0) (23.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5.2->statsmodels<0.14,>=0.13.2->ydata-profiling==0.0.dev0) (1.15.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.8/dist-packages (from imagehash->visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0) (1.4.1)
Building wheels for collected packages: ydata-profiling, htmlmin
  Building wheel for ydata-profiling (setup.py) ... done
  Created wheel for ydata-profiling: filename=ydata_profiling-0.0.dev0-py2.py3-none-any.whl size=344582 sha256=03dcebaf8274cc1416ec4fab9d1f37a2a82565c400c7b8f6afe0ff35c1173c85
  Stored in directory: /tmp/pip-ephem-wheel-cache-c1pte5q4/wheels/64/b6/85/dfc808b23666a5910371784e349d28818006ff63ed9cfeca59
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27098 sha256=7e78e3476610926f6a76ba882f2a853a2d144cb79820a10bd34159a2bb0c9489
  Stored in directory: /root/.cache/pip/wheels/23/14/6e/4be5bfeeb027f4939a01764b48edd5996acf574b0913fe5243
Successfully built ydata-profiling htmlmin
Installing collected packages: htmlmin, typeguard, tangled-up-in-unicode, multimethod, imagehash, visions, statsmodels, phik, ydata-profiling
  Attempting uninstall: typeguard
    Found existing installation: typeguard 2.7.1
    Uninstalling typeguard-2.7.1:
      Successfully uninstalled typeguard-2.7.1
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.12.2
    Uninstalling statsmodels-0.12.2:
      Successfully uninstalled statsmodels-0.12.2
Successfully installed htmlmin-0.1.12 imagehash-4.3.1 multimethod-1.9.1 phik-0.12.3 statsmodels-0.13.5 tangled-up-in-unicode-0.2.0 typeguard-2.13.3 visions-0.7.5 ydata-profiling-0.0.dev0

In [ ]:
import pandas_profiling as pp

<ipython-input-26-4afb823491c5>:1: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling as pp

In [ ]:
profile=pp.ProfileReport(df_1, title="Pandas Profiling Report")

In [ ]:
profile.to_file('output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

###Lets explore the data parameter wise -

##1. Destination

In [ ]:
df[['START', 'STOP']]

                 START              STOP
0          Fort Pierce       Fort Pierce
1          Fort Pierce       Fort Pierce
2          Fort Pierce       Fort Pierce
3          Fort Pierce       Fort Pierce
4          Fort Pierce   West Palm Beach
...                ...               ...
1151           Kar?chi  Unknown Location
1152  Unknown Location  Unknown Location
1153        Katunayake           Gampaha
1154           Gampaha         Ilukwatta
1155               NaN               NaN

[1156 rows x 2 columns]

##2. Categories

In [ ]:
df['CATEGORY']

0       Business
1       Business
2       Business
3       Business
4       Business
          ...
1151    Business
1152    Business
1153    Business
1154    Business
1155         NaN
Name: CATEGORY, Length: 1156, dtype: object

In [ ]:
df['CATEGORY'].unique()

array(['Business', 'Personal', nan], dtype=object)

##3.Purpose

In [ ]:
df['PURPOSE'].unique()

array(['Meal/Entertain', nan, 'Errand/Supplies', 'Meeting',
       'Customer Visit', 'Temporary Site', 'Between Offices',
       'Charity ($)', 'Commute', 'Moving', 'Airport/Travel'], dtype=object)

### Grouping two parameters to get more insights

###1. Understanding  the start and stop points

In [ ]:
# Unique Start and Stop Points

print('Unique Start Points: ', df['START'].unique())
print('Unique Stop Points: ', df['STOP'].unique())

Unique Start Points:  ['Fort Pierce' 'West Palm Beach' 'Cary' 'Jamaica' 'New York' 'Elmhurst'
 'Midtown' 'East Harlem' 'Flatiron District' 'Midtown East'
 'Hudson Square' 'Lower Manhattan' "Hell's Kitchen" 'Downtown' 'Gulfton'
 'Houston' 'Eagan Park' 'Morrisville' 'Durham' 'Farmington Woods'
 'Whitebridge' 'Lake Wellingborough' 'Fayetteville Street' 'Raleigh'
 'Hazelwood' 'Fairmont' 'Meredith Townes' 'Apex' 'Chapel Hill'
 'Northwoods' 'Edgehill Farms' 'Tanglewood' 'Preston' 'Eastgate'
 'East Elmhurst' 'Jackson Heights' 'Long Island City' 'Katunayaka'
 'Unknown Location' 'Colombo' 'Nugegoda' 'Islamabad' 'R?walpindi'
 'Noorpur Shahan' 'Heritage Pines' 'Westpark Place' 'Waverly Place'
 'Wayne Ridge' 'Weston' 'East Austin' 'West University' 'South Congress'
 'The Drag' 'Congress Ave District' 'Red River District' 'Georgian Acres'
 'North Austin' 'Coxville' 'Convention Center District' 'Austin' 'Katy'
 'Sharpstown' 'Sugar Land' 'Galveston' 'Port Bolivar' 'Washington Avenue'
 'Briar Meadow' 'Latta' 'Jacksonville' 'Couples Glen' 'Kissimmee'
 'Lake Reams' 'Orlando' 'Sand Lake Commons' 'Sky Lake' 'Daytona Beach'
 'Ridgeland' 'Florence' 'Meredith' 'Holly Springs' 'Chessington'
 'Burtrose' 'Parkway' 'Mcvan' 'Capitol One' 'University District'
 'Seattle' 'Redmond' 'Bellevue' 'San Francisco' 'Palo Alto' 'Sunnyvale'
 'Newark' 'Menlo Park' 'Old City' 'Savon Height' 'Kilarney Woods'
 'Townes at Everett Crossing' 'Huntington Woods' 'Seaport'
 'Medical Centre' 'Rose Hill' 'Soho' 'Tribeca' 'Financial District'
 'Oakland' 'Emeryville' 'Berkeley' 'Kenner' 'CBD' 'Lower Garden District'
 'Lakeview' 'Storyville' 'New Orleans' 'Metairie' 'Chalmette' 'Arabi'
 'Pontchartrain Shores' 'Marigny' 'Covington' 'Mandeville'
 'Jamestown Court' 'Summerwinds' 'Parkwood' 'Pontchartrain Beach'
 'St Thomas' 'Banner Elk' 'Elk Park' 'Newland' 'Boone' 'Stonewater'
 'Lexington Park at Amberly' 'Arlington Park at Amberly' 'Arlington'
 'Kalorama Triangle' 'K Street' 'West End' 'Connecticut Avenue'
 'Columbia Heights' 'Washington' 'Wake Forest' 'Lahore' 'Karachi'
 'SOMISSPO' 'West Berkeley' 'North Berkeley Hills' 'San Jose' 'Eagle Rock'
 'Winston Salem' 'Asheville' 'Topton' 'Hayesville' 'Bryson City' 'Almond'
 'Mebane' 'Agnew' 'Cory' 'Renaissance' 'Santa Clara' 'NOMA' 'Sunnyside'
 'Ingleside' 'Central' 'Tenderloin' 'College Avenue' 'South' 'Southside'
 'South Berkeley' 'Mountain View' 'El Cerrito' 'Krendle Woods' 'Wake Co.'
 'Fuquay-Varina' 'Rawalpindi' 'Kar?chi' 'Katunayake' 'Gampaha' nan]
Unique Stop Points:  ['Fort Pierce' 'West Palm Beach' 'Palm Beach' 'Cary' 'Morrisville'
 'New York' 'Queens' 'East Harlem' 'NoMad' 'Midtown' 'Midtown East'
 'Hudson Square' 'Lower Manhattan' "Hell's Kitchen" 'Queens County'
 'Gulfton' 'Downtown' 'Houston' 'Jamestown Court' 'Durham' 'Whitebridge'
 'Lake Wellingborough' 'Raleigh' 'Umstead' 'Hazelwood' 'Westpark Place'
 'Meredith Townes' 'Leesville Hollow' 'Apex' 'Chapel Hill'
 'Williamsburg Manor' 'Macgregor Downs' 'Edgehill Farms' 'Northwoods'
 'Tanglewood' 'Preston' 'Walnut Terrace' 'Jackson Heights' 'East Elmhurst'
 'Midtown West' 'Long Island City' 'Jamaica' 'Unknown Location' 'Colombo'
 'Nugegoda' 'Katunayaka' 'Islamabad' 'R?walpindi' 'Noorpur Shahan'
 'Heritage Pines' 'Waverly Place' 'Wayne Ridge' 'Depot Historic District'
 'Weston' 'West University' 'South Congress' 'Arts District'
 'Congress Ave District' 'Red River District' 'The Drag'
 'Convention Center District' 'North Austin' 'Coxville' 'Katy' 'Alief'
 'Sharpstown' 'Sugar Land' 'Galveston' 'Port Bolivar' 'Washington Avenue'
 'Briar Meadow' 'Greater Greenspoint' 'Latta' 'Jacksonville' 'Kissimmee'
 'Isles of Buena Vista' 'Orlando' 'Lake Reams' 'Vista East' 'Sky Lake'
 'Sand Lake Commons' 'Daytona Beach' 'Ridgeland' 'Florence' 'Cedar Hill'
 'Holly Springs' 'Harden Place' 'Chessington' 'Burtrose' 'Parkway'
 'Capitol One' 'University District' 'Redmond' 'Bellevue' 'Seattle'
 'Mcvan' 'Palo Alto' 'Sunnyvale' 'Newark' 'Menlo Park' 'San Francisco'
 'Parkway Museums' 'Hog Island' 'Savon Height' 'Kildaire Farms'
 'Kilarney Woods' 'Gramercy-Flatiron' 'Tudor City' 'Soho' 'Tribeca'
 'Financial District' 'Kips Bay' 'Emeryville' 'Berkeley' 'Oakland'
 'Bay Farm Island' 'New Orleans' 'Lower Garden District' 'Lakeview'
 'Storyville' 'Faubourg Marigny' 'Metairie' 'Kenner' 'Bywater' 'Chalmette'
 'Arabi' 'Pontchartrain Shores' 'Marigny' 'Covington' 'Mandeville'
 'Summerwinds' 'Parkwood' 'Pontchartrain Beach' 'CBD' 'St Thomas'
 'Banner Elk' 'Elk Park' 'Newland' 'Boone' 'Stonewater'
 'Lexington Park at Amberly' 'Arlington Park at Amberly' 'Washington'
 'K Street' 'Kalorama Triangle' 'Northwest Rectangle' 'Columbia Heights'
 'Arlington' 'Farmington Woods' 'Wake Forest' 'Lahore' 'Karachi'
 'French Quarter' 'North Berkeley Hills' 'Southside' 'San Jose'
 'Eagle Rock' 'Huntington Woods' 'Winston Salem' 'Asheville' 'Topton'
 'Hayesville' 'Bryson City' 'Almond' 'Mebane' 'Santa Clara' 'Cory' 'Agnew'
 'Renaissance' 'West Berkeley' 'Central' 'Sunnyside' 'Ingleside'
 'Potrero Flats' 'SOMISSPO' 'Tenderloin' 'College Avenue' 'South'
 'Southwest Berkeley' 'South Berkeley' 'Mountain View' 'El Cerrito'
 'Wake Co.' 'Fuquay-Varina' 'Rawalpindi' 'Kar?chi' 'Gampaha' 'Ilukwatta'
 nan]

# Names of unique start points

In [ ]:
df['START'].unique()

array(['Fort Pierce', 'West Palm Beach', 'Cary', 'Jamaica', 'New York',
       'Elmhurst', 'Midtown', 'East Harlem', 'Flatiron District',
       'Midtown East', 'Hudson Square', 'Lower Manhattan',
       "Hell's Kitchen", 'Downtown', 'Gulfton', 'Houston', 'Eagan Park',
       'Morrisville', 'Durham', 'Farmington Woods', 'Whitebridge',
       'Lake Wellingborough', 'Fayetteville Street', 'Raleigh',
       'Hazelwood', 'Fairmont', 'Meredith Townes', 'Apex', 'Chapel Hill',
       'Northwoods', 'Edgehill Farms', 'Tanglewood', 'Preston',
       'Eastgate', 'East Elmhurst', 'Jackson Heights', 'Long Island City',
       'Katunayaka', 'Unknown Location', 'Colombo', 'Nugegoda',
       'Islamabad', 'R?walpindi', 'Noorpur Shahan', 'Heritage Pines',
       'Westpark Place', 'Waverly Place', 'Wayne Ridge', 'Weston',
       'East Austin', 'West University', 'South Congress', 'The Drag',
       'Congress Ave District', 'Red River District', 'Georgian Acres',
       'North Austin', 'Coxville', 'Convention Center District', 'Austin',
       'Katy', 'Sharpstown', 'Sugar Land', 'Galveston', 'Port Bolivar',
       'Washington Avenue', 'Briar Meadow', 'Latta', 'Jacksonville',
       'Couples Glen', 'Kissimmee', 'Lake Reams', 'Orlando',
       'Sand Lake Commons', 'Sky Lake', 'Daytona Beach', 'Ridgeland',
       'Florence', 'Meredith', 'Holly Springs', 'Chessington', 'Burtrose',
       'Parkway', 'Mcvan', 'Capitol One', 'University District',
       'Seattle', 'Redmond', 'Bellevue', 'San Francisco', 'Palo Alto',
       'Sunnyvale', 'Newark', 'Menlo Park', 'Old City', 'Savon Height',
       'Kilarney Woods', 'Townes at Everett Crossing', 'Huntington Woods',
       'Seaport', 'Medical Centre', 'Rose Hill', 'Soho', 'Tribeca',
       'Financial District', 'Oakland', 'Emeryville', 'Berkeley',
       'Kenner', 'CBD', 'Lower Garden District', 'Lakeview', 'Storyville',
       'New Orleans', 'Metairie', 'Chalmette', 'Arabi',
       'Pontchartrain Shores', 'Marigny', 'Covington', 'Mandeville',
       'Jamestown Court', 'Summerwinds', 'Parkwood',
       'Pontchartrain Beach', 'St Thomas', 'Banner Elk', 'Elk Park',
       'Newland', 'Boone', 'Stonewater', 'Lexington Park at Amberly',
       'Arlington Park at Amberly', 'Arlington', 'Kalorama Triangle',
       'K Street', 'West End', 'Connecticut Avenue', 'Columbia Heights',
       'Washington', 'Wake Forest', 'Lahore', 'Karachi', 'SOMISSPO',
       'West Berkeley', 'North Berkeley Hills', 'San Jose', 'Eagle Rock',
       'Winston Salem', 'Asheville', 'Topton', 'Hayesville',
       'Bryson City', 'Almond', 'Mebane', 'Agnew', 'Cory', 'Renaissance',
       'Santa Clara', 'NOMA', 'Sunnyside', 'Ingleside', 'Central',
       'Tenderloin', 'College Avenue', 'South', 'Southside',
       'South Berkeley', 'Mountain View', 'El Cerrito', 'Krendle Woods',
       'Wake Co.', 'Fuquay-Varina', 'Rawalpindi', 'Kar?chi', 'Katunayake',
       'Gampaha', nan], dtype=object)

In [ ]:
#count if unique start points

df['START'].nunique()

177

In [ ]:
# unique destinations

df['STOP'].unique()

array(['Fort Pierce', 'West Palm Beach', 'Palm Beach', 'Cary',
       'Morrisville', 'New York', 'Queens', 'East Harlem', 'NoMad',
       'Midtown', 'Midtown East', 'Hudson Square', 'Lower Manhattan',
       "Hell's Kitchen", 'Queens County', 'Gulfton', 'Downtown',
       'Houston', 'Jamestown Court', 'Durham', 'Whitebridge',
       'Lake Wellingborough', 'Raleigh', 'Umstead', 'Hazelwood',
       'Westpark Place', 'Meredith Townes', 'Leesville Hollow', 'Apex',
       'Chapel Hill', 'Williamsburg Manor', 'Macgregor Downs',
       'Edgehill Farms', 'Northwoods', 'Tanglewood', 'Preston',
       'Walnut Terrace', 'Jackson Heights', 'East Elmhurst',
       'Midtown West', 'Long Island City', 'Jamaica', 'Unknown Location',
       'Colombo', 'Nugegoda', 'Katunayaka', 'Islamabad', 'R?walpindi',
       'Noorpur Shahan', 'Heritage Pines', 'Waverly Place', 'Wayne Ridge',
       'Depot Historic District', 'Weston', 'West University',
       'South Congress', 'Arts District', 'Congress Ave District',
       'Red River District', 'The Drag', 'Convention Center District',
       'North Austin', 'Coxville', 'Katy', 'Alief', 'Sharpstown',
       'Sugar Land', 'Galveston', 'Port Bolivar', 'Washington Avenue',
       'Briar Meadow', 'Greater Greenspoint', 'Latta', 'Jacksonville',
       'Kissimmee', 'Isles of Buena Vista', 'Orlando', 'Lake Reams',
       'Vista East', 'Sky Lake', 'Sand Lake Commons', 'Daytona Beach',
       'Ridgeland', 'Florence', 'Cedar Hill', 'Holly Springs',
       'Harden Place', 'Chessington', 'Burtrose', 'Parkway',
       'Capitol One', 'University District', 'Redmond', 'Bellevue',
       'Seattle', 'Mcvan', 'Palo Alto', 'Sunnyvale', 'Newark',
       'Menlo Park', 'San Francisco', 'Parkway Museums', 'Hog Island',
       'Savon Height', 'Kildaire Farms', 'Kilarney Woods',
       'Gramercy-Flatiron', 'Tudor City', 'Soho', 'Tribeca',
       'Financial District', 'Kips Bay', 'Emeryville', 'Berkeley',
       'Oakland', 'Bay Farm Island', 'New Orleans',
       'Lower Garden District', 'Lakeview', 'Storyville',
       'Faubourg Marigny', 'Metairie', 'Kenner', 'Bywater', 'Chalmette',
       'Arabi', 'Pontchartrain Shores', 'Marigny', 'Covington',
       'Mandeville', 'Summerwinds', 'Parkwood', 'Pontchartrain Beach',
       'CBD', 'St Thomas', 'Banner Elk', 'Elk Park', 'Newland', 'Boone',
       'Stonewater', 'Lexington Park at Amberly',
       'Arlington Park at Amberly', 'Washington', 'K Street',
       'Kalorama Triangle', 'Northwest Rectangle', 'Columbia Heights',
       'Arlington', 'Farmington Woods', 'Wake Forest', 'Lahore',
       'Karachi', 'French Quarter', 'North Berkeley Hills', 'Southside',
       'San Jose', 'Eagle Rock', 'Huntington Woods', 'Winston Salem',
       'Asheville', 'Topton', 'Hayesville', 'Bryson City', 'Almond',
       'Mebane', 'Santa Clara', 'Cory', 'Agnew', 'Renaissance',
       'West Berkeley', 'Central', 'Sunnyside', 'Ingleside',
       'Potrero Flats', 'SOMISSPO', 'Tenderloin', 'College Avenue',
       'South', 'Southwest Berkeley', 'South Berkeley', 'Mountain View',
       'El Cerrito', 'Wake Co.', 'Fuquay-Varina', 'Rawalpindi', 'Kar?chi',
       'Gampaha', 'Ilukwatta', nan], dtype=object)

In [ ]:
#count of unique stop points
df['STOP'].nunique()

188

In [ ]:
#stations that appear in both Start and Stop
df[df['START'].isin(df['STOP'])]['START']

0            Fort Pierce
1            Fort Pierce
2            Fort Pierce
3            Fort Pierce
4            Fort Pierce
              ...
1150             Kar?chi
1151             Kar?chi
1152    Unknown Location
1154             Gampaha
1155                 NaN
Name: START, Length: 1131, dtype: object

In [ ]:
start_points_df=df.pivot_table(values='START_DATE', index= 'START', aggfunc='count')

In [ ]:
#top 10 start points by popularity
df_2=df.groupby(by='START').count()['START_DATE']
df_2.sort_values(axis=0, ascending=False).head(10)

START
Cary                201
Unknown Location    148
Morrisville          85
Whitebridge          68
Islamabad            57
Durham               37
Lahore               36
Raleigh              28
Kar?chi              27
Apex                 17
Name: START_DATE, dtype: int64

In [ ]:
#top 10 stop points by popularity

df_3=df.groupby(by='STOP').count()['START_DATE']
df_3.sort_values(axis=0, ascending=False).head(10)

STOP
Cary                203
Unknown Location    149
Morrisville          84
Whitebridge          65
Islamabad            58
Durham               36
Lahore               36
Raleigh              29
Kar?chi              26
Apex                 17
Name: START_DATE, dtype: int64

In [ ]:
#cases where start and stop locations are same

df[df['START']==df['STOP']]

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain
...,...,...,...,...,...,...,...
1147,12/30/2016 15:41,12/30/2016 16:03,Business,Kar?chi,Kar?chi,4.6,Errand/Supplies
1148,12/30/2016 16:45,12/30/2016 17:08,Business,Kar?chi,Kar?chi,4.6,Meeting
1149,12/30/2016 23:06,12/30/2016 23:10,Business,Kar?chi,Kar?chi,0.8,Customer Visit
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting

In [ ]:
#Favorite starting point wrt the total miles covered 

df.groupby(by='START').MILES.sum().sort_values(ascending=False)

START
Unknown Location         1976.5
Cary                     1791.3
Morrisville               671.7
Raleigh                   433.0
Islamabad                 401.2
                          ...
South Berkeley              0.9
Congress Ave District       0.8
Sunnyside                   0.7
Medical Centre              0.7
Soho                        0.5
Name: MILES, Length: 177, dtype: float64

In [ ]:
#START POINT BY MAXIMUM MILES COVERED
df_1[df_1['MILES']==df_1.MILES.max()][['START', 'MILES']]

     START  MILES
269  Latta  310.3

In [ ]:
#dropping Unknown locations
df_1 = df_1[df['START']!='Unknown Location']
df_1 = df_1[df['STOP']!='Unknown Location']

<ipython-input-55-a9fa249bb88a>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_1 = df_1[df['START']!='Unknown Location']
<ipython-input-55-a9fa249bb88a>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_1 = df_1[df['STOP']!='Unknown Location']

In [ ]:
df_1.pivot_table(values='MILES', index=['START', 'STOP'], aggfunc='sum').sort_values(by='MILES', ascending=False).head(1)

              MILES
START STOP
Cary  Durham  312.3

In [ ]:
df_1.pivot_table(values='MILES', index=['START', 'STOP'], aggfunc='count').sort_values(by='MILES', ascending=False).head(1)

                   MILES
START STOP
Cary  Morrisville     52

## 4. Manipulating date & time objects

In [ ]:
df.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [ ]:
df_1=df_1[df_1['START_DATE']!='Totals']
df_1=df_1[df_1['END_DATE']!='Totals']

In [ ]:
# Create columns by converting the start and end date into a datatime format
df_1['START_DATE'] = pd.to_datetime(df_1['START_DATE'])
df_1['END_DATE'] = pd.to_datetime(df_1['END_DATE'])
df_1.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
5,2016-01-06 17:15:00,2016-01-06 17:19:00,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain

In [ ]:
# Which month did he get most drives  ? 
df_1['Month'] = pd.DatetimeIndex(df_1['START_DATE']).month
df_1.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE,Month
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,1
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,1
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,1
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,1
5,2016-01-06 17:15:00,2016-01-06 17:19:00,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain,1

In [ ]:
df_1['Month'].value_counts()

12    86
6     72
3     71
2     61
1     59
11    58
4     50
5     46
7     46
10    17
8      6
Name: Month, dtype: int64

In [ ]:
# Getting the average distance covered each month

df_1.groupby(by='Month').mean()

           MILES
Month
1       8.486441
2       7.788525
3      20.505634
4      21.898000
5       7.793478
6       7.441667
7      10.615217
8       4.650000
10     26.764706
11     10.779310
12      4.777907

In [ ]:
# Which day did he get most drives  ? 
df_1['Day'] = pd.DatetimeIndex(df_1['START_DATE']).day
df_1['Day'].value_counts()

4     28
12    27
1     25
8     25
29    24
28    23
7     23
6     22
18    22
19    22
5     21
3     20
11    20
14    20
25    19
26    19
10    19
27    18
2     18
22    17
20    16
24    16
13    16
15    15
21    12
30    12
16    12
17    12
9     11
23    10
31     8
Name: Day, dtype: int64

In [ ]:
# Question1: How many miles was earned per category and purpose ?

df_1.groupby(by=['CATEGORY', 'PURPOSE']).MILES.sum()

CATEGORY  PURPOSE
Business  Airport/Travel        4.1
          Between Offices     197.0
          Customer Visit     1995.2
          Errand/Supplies     430.9
          Meal/Entertain      824.3
          Meeting            2435.2
          Temporary Site      328.0
Personal  Charity ($)          15.1
          Commute             180.2
          Moving               18.2
Name: MILES, dtype: float64

In [ ]:
# Question2: What is percentage of business miles vs personal?
table=pd.pivot_table(df,values='MILES',index='CATEGORY',aggfunc=np.sum)
table['% of Total'] = (table.MILES / table.MILES.sum() * 100).round().astype(str) + '%'
table

            MILES % of Total
CATEGORY
Business  11487.0      94.0%
Personal    717.7       6.0%